.topbar_frame{
				width:100%;
				min-width:1000px;
				margin-left:60px;
				height:50px;
				position:fixed;
				z-index:100;
				top:0%;
				background-color:#ffffff;
				 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
				  /*border-bottom:1px solid rgba(0, 0, 0, 0.1);*/
}


.page_name{height:50px;
		   line-height:50px;
		   float:left;
		   margin-left:20px;
		   font-size:16px;
		   font-family:gotham-l;
		   color:#9299B2;

}



.subscription_alert{float:right;
					margin-right:100px;
					margin-top:12.5px;
					padding:5px;
					padding-left:10px;
					padding-right:10px;
					height:15px;
					line-height:15px;
					background-color:#4A73DB;
					color:white;
					font-size:12px;
					font-family:gotham-l;
					border-radius:50px;
					box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
					
}


.body{
	margin-top:80px;
	margin-left:100px;
}
