.top{width: 100%;
    height:80px;
    position:fixed;
    top:0%;
    left:0%;
    /*background:#4B2142;*/
}

.logo img{width:38px;
          height:38px;
          float:left;
          margin-right:12px;

}

.logo{line-height:38px;
      font-size:30px;
      font-family:rocko;
       margin-top: 22px;
       margin-left:30px;
       float:left;
}

#particles-js{
  position:fixed;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%;
  opacity:0.6;
}

.body{width:1000px;
      margin:0px auto;
      margin-top:50px;
}

.heading{font-size:36px;
        font-family:roboto-m;
        text-align: center;
        text-shadow:1px 1px 1px rgba(0,0,0,0.15);
}

.sub_heading{text-align:center;
              font-size:18px;
              font-family: roboto-t;
              margin-top:15px;
        text-shadow:1px 1px 1px rgba(0,0,0,0.08);
}

.tag{position:absolute;
     margin-left:-100px;
     margin-top:-40px;
     padding:10px;
     border-radius:3px;
     background-color:rgba(255,255,255,0.4);
}

.content{width:1000px;
         margin:0px auto;
         margin-top:60px;
         border-radius:5px;
         background-color:rgba(0,0,0,0.3);
         padding:20px;
         float:left;
}

.content:first-child{margin-top:60px;}

.step{width:250px;
      margin-left:62.5px;
      float:left;
}

.step_img{width:50px;
          margin:0px auto;
}

.step_img img{width:50px;}

.step_name{margin-top:10px;
           text-align:center;
           font-size:18px;
           font-family: roboto-m;
}

.step_about{text-align:center;
           margin-top:20px;
}
